@{
    ViewBag.Title = "Laboratorio #2";
}

<div class="jumbotron">
    <h1>Laboratorio #2</h1>
    <p class="lead">Lab enfocado en el implementacion y analisis de Arboles Binarios.</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Ir a modulo de paises</h2>
        <p>
            @Html.ActionLink("Ir a modulo", "Index", "Pais")
        </p>
    </div>
 
    <div class="col-md-4">
        
        <p>Jose Carlos Herrera Franco, Renato Cabrera.</p>

    </div>
</div>