@{
    ViewBag.Title = "Laboratorio #2";
}

<div class="jumbotron">
    <h1>Laboratorio 1</h1>
    <p class="lead">Ordenar el Mundial de Rusia con Arboles Binarios</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ir a modulo de personas</h2>
        <p>@Html.ActionLink("Ir a modulo", "Index", "Pais")</p>
    </div>

    <div class="col-md-4">
        <p>Jose Carlos Herrera Franco, Renato Cabrera.</p>

    </div>
</div>